body{
    background-color: beige;
    font-family: "Lustria", serif;
    color: white;
}

img{
    width: 8%;
}

h1, h2, h4{
    color: midnightblue;
    margin: 2% 3%; 
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
    margin-bottom: 3%;
}

#all-items{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 2% 0%;
}

#h2div{
    opacity: 100%;
}

#div1{
    text-align: center;
    z-index: 1;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7{
    opacity: 100%;
    width: 10%;
    transition: 1s all ease-in-out;
    border-radius: 10px;
    margin: 1%;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover, #img7:hover{
    opacity: 100%;
    width: 25%;
    transition: 1s all ease-in-out;
}

#div1:hover + h2{
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

h2{
    opacity: 100%;
    transition: 3s all ease-in-out;
}

@media only screen and (max-width: 1000px) and (min-width: 599px){
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    #img1, #img2, #img3, #img4, #img5, #img6, #img7{
        opacity: 100%;
        width: 20%;
        transition: 1s all ease-in-out;
        border-radius: 10px;
        margin: 1%;
    }
    
    #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover, #img7:hover{
        opacity: 100%;
        width: 35%;
        transition: 1s all ease-in-out;
    }

    #div1:hover + h2{
        opacity: 100%;
        transition: 0.5s all ease-in-out;
    }
    
    h2{
        opacity: 100%;
        transition: 3s all ease-in-out;
    }
}

@media (max-width: 600px) and (min-width: 300px){
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    #img1, #img2, #img3, #img4, #img5, #img6, #img7{
        opacity: 100%;
        width: 20%;
        transition: 1s all ease-in-out;
        border-radius: 10px;
        margin: 1%;
    }
    
    #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover, #img7:hover{
        opacity: 100%;
        width: 50%;
        transition: 1s all ease-in-out;
    }

    #div1:hover + h2{
        opacity: 100%;
        transition: 0.5s all ease-in-out;
    }
    
    h2{
        opacity: 100%;
        transition: 3s all ease-in-out;
    }
}