body{
    background-color: beige;
    display: inline-block;
    font-family: "Lustria", serif;
    color: white;
    overflow: hidden;
}

img{
    width: 8%;
}

h1{
    position: absolute;
    left: 0;
    right: 0;
    width: 35%;
    margin: auto;
    top: 3em;
    color: midnightblue;
}

h4{
    position: absolute;
    left: 0;
    right: 0;
    width: 20%;
    margin: auto;
    top: 10em;
    color: midnightblue;
}

#h2div{
    position: absolute;
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
    top: 20em;
    color: midnightblue;
    opacity: 100%;
}

#div1{
    left: 5em; 
    right: 0;
    top: 30%; 
    margin: auto;
    position: absolute;
    width: 90%;
    z-index: 1;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7{
    opacity: 100%;
    width: 10%;
    transition: 1s all ease-in-out;
    margin: 1em;
    border-radius: 10px;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover, #img7:hover{
    opacity: 100%;
    width: 20%;
    transition: 1s all ease-in-out;
}

#div1:hover + h2{
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

h2{
    opacity: 100%;
    transition: 3s all ease-in-out;
}